extends layout

block content
    div.container.my-4
        h1.text-white.text-center= "Keyword distribution"
        div.row
            div.col-6
                form(action='/file' method="POST" enctype="multipart/form-data").row
                    div.col-8
                        div.custom-file
                            input(type='file', name='csv')#customFile.custom-file-input
                            label(for='customFile').custom-file-label Choose File
                    div.col-4
                        button.btn.btn-success.btn-block Upload CSV
            div.col-6
                form(action='/keyword' method="POST").row
                    div.col-8
                        input.form-control(type="text" name="keywords" placeholder="Keywords" autofocus)
                    div.col-4
                        button.btn.btn-success.btn-block By keywords

        if rows
            table.table.mt-4
                thead
                    tr
                        th.text-white= "Keyword"
                        th.text-white= "Organic"
                        th.text-white= "Paid"
                tbody
                each row in rows
                    tr
                        td.text-white= row.keyword
                        td.text-white= row.distribution.organic
                        td.text-white= row.distribution.paid
