doctype html
html
  head
    title= title
    link(rel='shortcut icon', href="data:image/x-icon;,'", type='image/x-icon')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body.bg-primary
    block content
